<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- load tailwind from cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.9.6/tailwind.min.css"
    />
    <!-- load font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link rel="stylesheet" href="./style/style.css" />
    <title>Login Mahasiswa</title>
  </head>
  <body>
    <!-- create modern login page using tailwind css -->
    <div class="flex items-center justify-center h-screen bg-gray-200">
      <div class="w-full max-w-md">
        <img src="./img/FEB.png" alt="" class="mx-auto mb-4" />

        <form
          action="/login-mhs"
          method="POST"
          class="bg-white shadow-lg rounded px-12 pt-6 pb-8 mb-4"
        >
          <div
            class="text-gray-800 text-2xl flex justify-center border-b-2 py-2 mb-4"
            style="font-family: 'Roboto', sans-serif"
          >
            Login Mahasiswa
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-normal mb-2"
              for="nim"
            >
              <b>NIM</b>
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              name="nim"
              id="nim"
              type="text"
              placeholder="nim"
            />
          </div>
          <div class="mb-6">
            <label
              class="block text-gray-700 text-sm font-normal mb-2"
              for="password"
            >
              <b>Password</b>
            </label>
            <input
              class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              name="password"
              id="password"
              type="password"
              placeholder="******************"
            />
            <p class="text-red-500 text-xs italic">Please choose a password.</p>
          </div>
          <div class="flex items-center justify-between">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
            >
              Masuk
            </button>
            <a
              class="inline-block align-baseline font-normal text-sm text-blue-500 hover:text-blue-800"
              href="register-mhs"
            >
              Register Mahasiswa
            </a>
          </div>
          <div class="flex items-end justify-end mt-4">
            <a
              class="inline-block align-baseline font-normal text-sm text-blue-500 hover:text-blue-800"
              href="/login-admin"
            >
              Login Admin
            </a>
          </div>
        </form>
        <p class="text-center text-gray-500 text-xs">
          &copy;2023 FEB UNDANA. All rights reserved.
        </p>
      </div>
    </div>

    <!-- load tailwind from cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.9.6/tailwind.min.js"></script>

    <!-- load font awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
  </body>
</html>
